.hidden {
  display : none!important;
}

.inline-block {
  display : inline-block;
}

.tweet-counter {
  margin-right : 15px;
  color        : #8899a6;
}

.tweet-composer {
  display          : relative;
  width            : 350px;
  margin           : 0 auto;
  padding          : 5px;
  border           : 1px solid #e1e8ed;
  border-radius    : 5px 5px 0 0;
  background-color : #E8F4FB;
}

.edit {
  display : flex;
}

button {
  display          : inline-block;
  padding          : 9px 16px 8px 17px;
  color            : #fff;
  border           : 1px solid transparent;
  border-radius    : 4px;
  background       : rgba(27,149,224,.8);
  background-color : #1B95E0;
  box-shadow       : inset 0 1px 0 rgba(255,255,255,0.15);
  text-align       : center;
  font-size        : 14px;
  font-weight      : bold;
  line-height      : normal;
}

.text-area-container {
  flex-grow : 2;
}

textarea {
  width         : 95%;
  height        : 80px;
  border-color  : #A3D4F2;
  border-radius : 4px;
  resize        : none;
}

.toolbar {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
}

.toolbar-left {
  margin-left : 32px;
}

.icon {
  width : 48px;
}

.suggestions-container {
  box-sizing       : border-box;
  position         : absolute;
  min-width        : 312px;
  margin-top       : -4px;
  padding          : 5px 0;
  border           : 0 solid rgba(0,0,0,0.25);
  border           : 1px solid #e1e8ed;
  border-radius    : 0 0 4px 4px;
  background       : #fff;
  background-color : rgba(255,255,255,0.98);
  background-clip  : padding-box;
  box-shadow       : 0 1px 4px rgba(0,0,0,0.25);
}

ul {
  margin-top   : -6px;
  padding-left : 0;
  list-style   : none;
}

.listItem {
  display     : flex;
  margin-top  : 8px;
  padding     : 7px 15px 6px 10px;
  line-height : 15px;
  cursor      : pointer;
}

.focus,
.listItem:hover {
  color           : #fff;
  background      : #3b88c3;
  text-decoration : none;
}

.info {
  align-self : center;
}

.avatar {
  width         : 32px;
  height        : 32px;
  margin-right  : 15px;
  border-radius : 4px;
}

.username {
  color : #8899a6;
}
